.jumbotron{
    background: transparent;
    height: 300px;
}
.display-4{
    font-size: 2.5em;
    font-weight: 500;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.img-circ{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}
.experience{
    margin-top:0;
}
.card{
    border-radius: 0;
    border:1px solid #000000;
    box-shadow: 2px 4px #000000;
    -webkit-webkit: box shadow 2px;
    -moz-webkit: box shadow 2px;
    -ms-webkit: box shadow 2px;
    -o-webkit: box shadow 2px;
}
.col-md-4{
    margin-bottom: 20px;
}
.no-border-shadow{
    border-radius:0;
    border:0;
    box-shadow: 0px 0px transparent;
}
.social{
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}
.social li{
    padding: 8px;
    display: inline;
}
.credits{    
    width:100%;
    margin:0;
    padding: 0;
}
.white-text{
    color:black;
    padding:8px;
}
